
/* main page regions */

body {
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
}

#main {
	width: 900px;
	margin: 1em auto;
	border: 2px solid #000000;
}

#header {
	background-color: #D8FA9E;
}
	
#contentcontainer {
	background: #FFFFFF url(images/leftcol.gif) repeat-y;
	overflow:hidden;
	padding-bottom:2em;
}

#content {
	padding-bottom:2em;
}
	
#rightcol {
	width: 75%;
	float:right;
}
	 
#leftcol {
	float: left;
	width:25%;
}

#footer {
	border-top: 1px solid #000000;
	clear: both;
	line-height: 2em;
}

/* paragraphs, headings and links */
	
p {
	padding: 0 0.5em; 
	font-size: smaller;
}

h1 { 
	margin: 0;
	background: #D8FA9E url(images/yumlogo.gif) no-repeat;
	padding: 15px 0 15px 138px;
	font: italic bold 2em Tahoma, Arial, sans-serif;
	color: #323200;
}
	
h2 {
	padding: 0 0.5em; 
}
	
a:link {
	color:#0000FF; /* unvisited link */
}     
a:visited {
	color:#FF0000; /* visited link */
}  
a:hover {
	color:#009900; /* mouse over link */
}
	
	

/* primary navigational elements */
	
#topnavcontainer {	
	border-bottom: 1px solid #000000;
	background-color: #D8FA9E;
}
	
#topnavbar {
	padding: 3px 0;
	margin:0 0 0 30%;
}

#topnavbar li {
	list-style: none;
	margin: 0;
	display: inline;
}

#topnavbar li a {
	padding: 0 0.3em 3px 0.3em;
	margin-left: 0;
	border: 1px solid #000000;
	background-color: #B8F63D;
	text-decoration: none;
	font: bold 1em Tahoma, Arial, sans-serif;
	color:#000000;
}

#topnavbar li a:hover{
	background-color: #DCFB9F;
}

#topnavbar li a.current {
	background-color: #DCFB9F;
}

/* secondary navigational elements */

#leftnavcontainer { 
	width: 100%; 
	margin-top: 2em;
}

#leftnavcontainer ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	border-top: 1px solid #000000;
}

#leftnavcontainer a {
	display: block;
	padding: 3px;
	background-color: #B8F63D;
	border-bottom: 1px solid #000000;
	text-decoration: none;
	color: #000000;
	width: 97%;
	text-transform: capitalize;
}

#leftnavcontainer a:link, a:visited {
	text-decoration: none;
}

#leftnavcontainer a:hover {
	background-color: #E6F63C;
}
	
#leftnavcontainer li a.current {
	background-color: #DCFB9F;
}

/* common links */
	

#commonlinksbar {
	text-align: right;
	background-color: #D8FA9E;
	font-size: 0.75em; 
}

#commonlinksbar a {
	text-decoration: none;
	color: #000000;
}
	
#commonlinksbar a:hover {
	text-decoration: underline;
	color: #000000;
}
	
#commonlinksbar a:visited { 
	color: #000000;
}

/* breadcrumbs */
		
#breadcrumbbar {
	font-size: smaller; 
	padding: 0.5em 0 0 0.5em;;
}

/* user defined classes */
		
.featureblock {
   	margin: 0.3em 0.3em 0 0.3em;
   	padding: 0.3em;
}

.featureblock h3 {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1.2em;
	margin: 0.1em 0;
	border-bottom:1px solid #999999;
}
	
.productblock {
	border-top: 1px solid #000000;
	margin: 0.5em;
	padding:0.5em;
}
	
.productblock h3 {
	margin:0;
	padding:0;
	font-size: 1em;
	text-transform: capitalize;
}
	
.productblock p {
	margin:0;
	padding:0;
}	

#leftcolpagecontent .productblock {
	margin: 0.5em 0.5em;
}

img.feature {
	float:left;
}

img.juice {
	float:right;
	border: 1px solid;
	margin-left:0.1em;
}
	
.highlight {
	font-weight: bold;
	text-transform: capitalize;
}
	
